/*  
Jeff Bohn  9/20/2023
resume.css


This file will be updated as needed
*/


body {
    padding-top: 3.375rem;
    color: #6c757d;
  }
  h1, h2, h3{
    font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-transform: uppercase;
    font-weight: 700;
    color: #343a40;
  }
  
  h1{
    font-size: clamp(3.4rem, 7.7vw, 6rem)
  }
  h2{
    line-height: 1;
    font-size: clamp(2.7rem, 4.4vw, 3.3rem)
  } 
  h3{
    line-height: 1;
    font-size: clamp(2.3rem, 3.5vw, 2.9rem)
  } 

  a:hover{
    color: rgb(0, 148, 0) !important;
  }

  .text-primary{
    /* color: #bd5d38 !important; */
    color: limegreen !important;
  }
  .text-primary-date{
    font-size: 1.1rem;
    font-weight: 600;
    /* color: #bd5d38 !important; */
    color: limegreen !important;
  }
  p.lead {
    font-size: 1.15rem;
    font-weight: 400;
  }
  
  .subheading {
    font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.7rem;
  }
  .profile-picture{
     position: absolute;
     top: 120px;
     right: 20px;
  }
  .profile-picture img{
     width: 120px;
  }
  #sideNav {
    padding-left: 1rem;
    padding-right: 1rem;
    /* background-color: #bd5d38 !important; */
    background-color: #2e2e2e !important;
  }
  #sideNav .navbar-nav .nav-item .nav-link {
    font-weight: 800;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }
  /* #sideNav .navbar-toggler:focus {
    outline-color: #d48a6e;
  } */
  .social-icons .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff;
    border-radius: 100%;
    font-size: 1.5rem;
    margin-right: 1.5rem;
  }
  .social-icons .social-icon:last-child {
    margin-right: 0;
  }

  .dev-icons {
    font-size: 3rem;
  }
  .dev-icons li{
    filter: grayscale(100%);
  }

  section.resume-section {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    max-width: 75rem;
  }
  section.resume-section .resume-section-content {
    width: 100%;
  }
  .resume-section-content .subheading a{
     /* color: #bd5d38; */
     color: limegreen
    }
  .resume-section-content .subheading a:hover{
     color: #974a2d;
  }
  .footer{
    display: flex;
    align-items: end;
    justify-content: center;
    height: 200px;
  }
  .footer *{
    text-decoration: none;
  }
  .footer a{
    color: limegreen !important;
  }
  .footer a:hover{
    color: rgb(0, 148, 0) !important;
  }
.fa-check{
  color: cornflowerblue !important;
}

  
@media (min-width: 992px) {
    body {
        padding-top: 0;
        padding-left: 17rem;
    }
    #about{
        min-height: 100vh;
    }
    #sideNav {
        padding-left: 1;
        padding-right: 1;
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 17rem;
        height: 100vh;
    }
    #sideNav .navbar-brand {
        display: flex;
        margin: auto auto 0;
        padding: 0.5rem;
    }
    #sideNav .navbar-brand .image-wrapper{
        position: relative;
        width: 10.3rem;
        height: 10.3rem;
        background-color:  rgba(255, 255, 255, 0.2);
        border-radius: 50%;
    }
    #sideNav .navbar-brand .img-profile {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 10rem;
        max-height: 10rem;
        /* border: .5rem solid rgba(255, 255, 255, 0.2); */
    } 
    #sideNav .navbar-collapse {
        display: flex;
        align-items: flex-start;
        flex-grow: 0;
        width: 100%;
        margin-bottom: auto;
    }
    #sideNav .navbar-collapse .navbar-nav {
        flex-direction: column;
        width: 100%;
    }
    #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
        display: block;
    }
    section.resume-section {
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
} 
